html {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-seri;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.2px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  text-align: left;
  color: #222222;
  background-color: #fff;
}

body.night--mode {
  color: #fff;
  background-color: #242F3D;
}
